<div class="w-full p-8 md:max-w-md">
  <!-- Heading section -->
  <h1 class="mb-4 text-3xl font-normal">{{ strings.signUp.title }}</h1>
  <p class="mb-4 text-sm text-light dark:text-light-dark">
    {{ strings.signUp.alreadyHaveAccount }}
    <a
      class="cursor-pointer font-semibold text-color hover:text-button-hover dark:text-color-dark dark:hover:text-hover"
      routerLink="/auth/signin"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      {{ strings.signIn.title }}
    </a>
  </p>

  <form id="form-container" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div class="flex flex-col lg:flex-row">
      <app-input
        id="firstName"
        [label]="strings.common.fName"
        [control]="signupForm.controls.firstName"
        [error]="getError('firstName')"
      ></app-input>
      <div class="hidden w-4 lg:block"></div>
      <app-input
        id="lastName"
        [label]="strings.common.lName"
        [control]="signupForm.controls.lastName"
        [error]="getError('lastName')"
      ></app-input>
    </div>
    <app-input
      id="email"
      [label]="strings.common.email"
      [control]="signupForm.controls.email"
      [error]="getError('email')"
    ></app-input>
    <app-input
      id="password"
      type="password"
      [label]="strings.common.password"
      [control]="signupForm.controls.password"
      [error]="getError('password')"
    ></app-input>
    <app-input
      id="confirmPassword"
      type="password"
      [label]="strings.common.confirmPassword"
      [control]="signupForm.controls.confirmPassword"
      [error]="getError('confirmPassword')"
    ></app-input>
    <div>
      <label>
        <input type="checkbox" formControlName="acceptTerms" />
        {{ strings.common.iAccept }}
        <a routerLink="/terms" class="font-medium text-color underline dark:text-color-dark">{{
          strings.common.termsOfUse
        }}</a>
        {{ strings.common.and }}
        <a routerLink="/privacy" class="font-medium text-color underline dark:text-color-dark">{{
          strings.common.privacyPolicy
        }}</a
        >.
      </label>
      @if (getError('acceptTerms')) {
      <p
        class="animate-fadeInDown text-xs text-error transition-all duration-500 dark:text-error-dark"
      >
        {{ getError('acceptTerms') }}
      </p>
      }
    </div>
    <app-button type="submit" extraClass="mt-2 w-full">{{ strings.signUp.title }}</app-button>
    @if (false) {
    <app-spinner></app-spinner>
    }
  </form>
</div>
