<li>
  <a
    [routerLink]="href"
    class="block px-3 rounded py-2 md:p-0"
    [class]="
      isActive()
        ? 'bg-primary text-color-dark md:bg-transparent md:font-medium md:text-primary-dark dark:text-color-dark md:dark:text-color-dark md:border-b-2 md:rounded-none md:border-primary-dark md:dark:border-color-dark'
        : 'text-light hover:bg-hover md:border-0 md:hover:bg-transparent md:hover:text-color dark:text-light-dark dark:hover:bg-hover-dark md:dark:hover:bg-transparent md:dark:hover:text-color-dark'
    "
  >
    <ng-content></ng-content>
  </a>
</li>
